.location-list {
    width: 20%;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-left: 5%;
}

.location {
    display: grid;
    grid-template-columns: 7fr 1fr;
    grid-template-rows: 1fr;
    justify-content: space-between;
    cursor: pointer;
    padding: 5px;
}


.hide {
    width: 100%;
    display: none;
    margin: 5px 30px 5px;
    font-size: 12px;
    border-left: 1px solid;
    /* border-bottom: 1px solid; */
    p {
        padding: 5px;
    }
}