.signuppage {
    width: 80%;
    height: 100vh;
    margin: 0 auto;
}

.signuppage h1 {
    color: rgba(192, 174, 59, 0.582);
}

.form-signup {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    border-right: 1px solid;
}

.inp {
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-direction: column;
    gap: 14px;
    padding-right: 24px;
}

.inp input {
    position: relative;
    width: 100%;
    height: 50px;
    border-radius: 5px;
    font-size: larger;
    border: 1px solid;
    outline: none;  
}


.form-signup button {
    width: 90%;
    height: 50px;
    border-radius: 5px;
    right: 0;
    outline: none;
    border: none;
    background-color: #AD6132;
    font-weight: bold;
    cursor: pointer;
}



.banner {
	width: 50%;
	background: red;
	height: 40%;
	overflow: hidden;
	display: flex;
	justify-content: flex-start;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
	cursor: pointer;
	border-radius: .3em;
	
	&:hover {
		transform: scale(1.05);
		box-shadow: 0 5px 15px 10px rgba(0, 0, 0, 0.55);
	}
}
