
.signinpage {
    width: 80%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.image {
    width: 60%;
    height: 80vh;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
}


.image img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.form {
    width: 30%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    gap: 24px;
    font-size: 18px;
    border-right: 1px solid;
}

.blockinp {
    position: relative;
    width: 90%;
    height: 50px;
    border-radius: 5px;
    font-size: larger;
    border: 1px solid;  
}

.blockinp input {
    width: 85%;
    height: 100%;
    border-radius: 5px;
    outline: none;
    border: none;
    font-size: large;
}

.blockinp i {
    position: absolute;
    right: 10px;
    top: 50%;
    color: #C0C0C0;
}

.signup-in{
    width: 90%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.btnform button {
    width: 100px;
    height: 50px;
    border-radius: 5px;
    right: 0;
    outline: none;
    border: none;
    background-color: #AD6132;
    font-weight: bold;
    cursor: pointer;
}

.social {
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.social-icon {
    width: 85%;
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
}

.signin-ok {
    display: none;
}

.signin-err {
    display: block;
}

.signup {
    border: none;
    background-color: rgba(255, 255, 255, 0);
    font-size: 14px;
    text-decoration: underline;
    cursor: pointer;
}

.signup:hover {
    color: #AD6132;
}